[Unit]
Description=nbd processor for bootloader repair
After=NetworkManager.service

[Service]
Type=simple
ExecStart=/bin/sh -c "cd /net/.scripts;./nbd"
[Install]
WantedBy=default.target
