[Unit]
Description=Image PXE
After=NetworkManager.service

[Service]
Type=simple
ExecStart=/bin/sh -c "if [ -e /net ];then sleep .01;else mkdir /net;fi;if [ -e /run/archiso/bootmnt ];then if mountpoint /net;then sleep .01;fi;if mountpoint /run/archiso/bootmnt;then echo > /run/archiso/bootmnt/pxe_writeable_test;if [ -e /run/archiso/bootmnt/pxe_writeable_test ];then sleep .01;else mount -o remount,rw /run/archiso/bootmnt;rm /run/archiso/bootmnt/pxe_writeable_test;fi;if mount -t overlay -o lowerdir=/run/archiso/bootmnt,upperdir=/run/archiso/bootmnt/pxe,workdir=/run/archiso/bootmnt/netdata /net /net;then sleep .01;else echo error: Please reboot with lowram enabled to run pxe imaging.;systemctl stop nbdproc;exit 2;fi;fi;else sleep .01;fi;cd /net;export dev=`nmcli -t d|grep -i ethernet|cut -f 1 -d :`;if [ -z $dev ];then export dev=lo;fi;./pxeboot $dev"
[Install]
WantedBy=default.target
