[Unit]
Description=set root password for ssh if supplied
After=NetworkManager.service graphical.target
[Service]
Type=oneshot
ExecStart=/usr/bin/sshcheck
TimeoutSec=300

[Install]
WantedBy=getty.target
