[Unit]
Description=Image PXE
After=NetworkManager.service

[Service]
Type=simple
ExecStart=/bin/sh -c "cd /net;export dev=`nmcli -t d|grep -i ethernet|cut -f 1 -d :`;if [ -z $dev ];then export dev=lo;fi;./pxeboot $dev"
[Install]
WantedBy=default.target
